$cl-white: #fff;
$cl-red: #e31818;
$cl-primary: #000;
$cl-secondary: #000;
$cl-tertiary: #003375;

$cl-black: #000;
$cl-grey1: #111;
$cl-grey2: #222;
$cl-grey3: #333;
$cl-grey4: #444;
$cl-grey5: #555;
$cl-grey6: #666;
$cl-grey7: #777;
$cl-grey8: #888;
$cl-grey9: #999;
$cl-greyA: #aaa;
$cl-greyB: #bbb;
$cl-greyC: #ccc;
$cl-greyD: #ddd;
$cl-greyE: #eee;
$cl-greyF6: #f6f6f6;
$cl-greyD7: #d7d7d7;
$cl-greyE3: #e3e3e3;
$cl-greyE8: #e8e8e8;

$cl-redE3: #e31818;
$cl-white-opacity95: rgba(255, 255, 255, .95);
$cl-white-opacity9: rgba(255, 255, 255, .9);
$cl-white-opacity8: rgba(255, 255, 255, .8);
$cl-white-opacity3: rgba(255, 255, 255, .3);
$cl-white-opacity2: rgba(255, 255, 255, .2);
$cl-white-opacity1: rgba(255, 255, 255, .1);
$cl-black-opacity2: rgba(0, 0, 0, .2);
$cl-black-opacity3: rgba(0, 0, 0, .3);
$cl-grey-opacity3: rgba(200, 200, 200, .3);
$cl-yellow: rgba(255, 172, 11, 1);

$font-primary: 'gotham_roundedbook';
$font-secondary: 'gotham_roundedbook';
$font-tertiary: 'gotham_roundedmedium';
$font-quaternary: 'GothamBold';

$wrapperWidth: 1370px;