// utils & vars
@import "../../node_modules/normalize.css/normalize.css";
@import './fonts/gothamRounded/_gotham.scss';  
@import "_mixins";
@import "_vars";

.component {
    margin: 20px;
    &_item {
        font-size: 25px;
        margin-bottom: 10px;
    }
}
